<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Connect Plus</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/admin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/admin/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/admin/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/admin/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/admin/assets/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <%- include('./partials/_navbar.ejs') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <%- include('./partials/_sidebar.ejs') %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="row col-md-12 grid-margin stretch-card" style="margin-top: 2rem;">
                    <div class="col-md-6">
                      <h1 class="card-title text-right" >Users list</h1>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="/admin/add_category">
                            <button type="button" class="btn btn-dark btn-fw">Add</button>
                        </a>
                    </div>
                  </div>
                
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th> No: </th>
                            <th> Category name </th>
                            <th> Status </th>
                            <th> Actions </th>
                          </tr>
                        </thead>
                        <tbody>
                          <% for (let i = 0; i < categories.length; i++) { %>
                            <% const category = categories[i]; %>
                            <tr>
                              <td><%= i+1 %></td>
                              <td><%= category.name %></td>
                              <td>
                                <% if (category.status === true) { %>
                                  Available
                                <% } else { %>
                                  Unavailable
                                <% } %>
                              </td>
                              <td>
                                <form class="action-form" action="/admin/edit" method="post">
                                  <input type="hidden" value="<%= category._id %>" name="id">
                                  <button type="submit" class="btn btn-primary">Edit</button>
                                </form>
                                <form class="action-form" action="/admin/delete" method="post">
                                  <input type="hidden" value="<%= category._id %>" name="id">
                                  <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                              </td>
                            </tr>
                          <% } %>                          
                        </tbody>
                      </table>
                      </div>
                </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <%- include('./partials/_footer.ejs') %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/admin/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/admin/assets/js/off-canvas.js"></script>
    <script src="/admin/assets/js/hoverable-collapse.js"></script>
    <script src="/admin/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
  </body>
</html>