<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ShoeKart - Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/admin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/admin/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/admin/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/admin/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/admin/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/admin/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/admin/assets/images/favicon.png" />
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <%- include('./partials/_navbar.ejs') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <%- include('./partials/_sidebar.ejs') %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row" id="proBanner">
              <div class="col-12">
                <span style="visibility: hidden;" class="d-flex align-items-center purchase-popup">
                  <p></p>
                  <!-- <a href="https://github.com/BootstrapDash/ConnectPlusAdmin-Free-Bootstrap-Admin-Template" target="_blank" class="btn ml-auto download-button">Download Free Version</a>
                  <a href="http://www.bootstrapdash.com/demo/connect-plus/jquery/template/" target="_blank" class="btn purchase-button">Upgrade To Pro</a> -->
                  <i class="mdi mdi-close" id="bannerClose"></i>
                </span>
              </div>
            </div>
            <div class="d-xl-flex justify-content-between align-items-start">
              <h2 class="text-dark font-weight-bold mb-2"> Dashboard Overview </h2>
            </div>
            <div class="row">
                <div class="col-md-12 col-md-12 col-md-12 grid-margin stretch-card" id="main-chart">
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="tab-content tab-transparent-content">
                  <div class="tab-pane fade show active" id="business-1" role="tabpanel" aria-labelledby="business-tab">
                    <div class="row">
                      <div class="col-md-6 grid-margin stretch-card">
                        <h2 style="color: black;">Total payment methods</h2>
                      </div>
                      <div class="col-md-6 grid-margin stretch-card">
                        <h2 style="color: black;">Total delivery methods</h2>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 grid-margin stretch-card" id="chart">
                      </div>
                      <div class="col-md-6 grid-margin stretch-card" id="orders-details">
                        <!-- Content for the second div -->
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-content">
                                <div class="icon-container">
                                    <i class="fa-solid fa-truck"></i>
                                </div>
                                <div class="text-container">
                                    <h3>Total Successfull Orders</h3>
                                    <h2 id="total-orders"></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                      <div class="card">
                          <div class="card-content">
                              <div class="icon-container">
                                <i class="fa-solid fa-user"></i>
                              </div>
                              <div class="text-container">
                                  <h3>Total Users</h3>
                                  <h2 id="total-users"></h2>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-content">
                            <div class="icon-container">
                              <i class="fa-solid fa-sack-dollar"></i>
                            </div>
                            <div class="text-container">
                                <h3>Total Revenue</h3>
                                <h2 id="total-revenue"></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                  <div class="card">
                      <div class="card-content">
                          <div class="icon-container">
                            <i class="fa-solid fa-box"></i>
                          </div>
                          <div class="text-container">
                              <h3>Total sold products</h3>
                              <h2 id="total-sold-products"></h2>
                          </div>
                      </div>
                  </div>
              </div>
              <input type="hidden" id="datas" value="<%= datas %>">
              <div id="monthlyData" data-payment-method-counts="<%= JSON.stringify(monthlyData) %>"></div>
              <div id="deliveredData" data-payment-method-counts="<%= JSON.stringify(deliveredData) %>"></div>
              <div id="cancelledData" data-payment-method-counts="<%= JSON.stringify(cancelledData) %>"></div>
              <div id="returnedData" data-payment-method-counts="<%= JSON.stringify(returnedData) %>"></div>
              <div id="paymentsMethods" data-payment-method-counts="<%= JSON.stringify(paymentMethods) %>"></div>
              <div id="deliveryMethods" data-delivery-method-counts="<%= JSON.stringify(deliveryMethods) %>"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <%- include('./partials/_footer.ejs') %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- custom diagram -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- plugins:js -->
    <script src="/admin/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/admin/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="/admin/assets/vendors/jquery-circle-progress/js/circle-progress.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/admin/assets/js/off-canvas.js"></script>
    <script src="/admin/assets/js/hoverable-collapse.js"></script>
    <script src="/admin/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/admin/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>