<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Connect Plus</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/admin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/admin/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/admin/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/admin/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/admin/assets/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <%- include('./partials/_navbar.ejs') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <%- include('./partials/_sidebar.ejs') %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card" id="ordersMain">
                <div class="card">
                    <div class="row col-md-12 grid-margin stretch-card" style="margin-top: 2rem;">
                        <div class="col-md-6">
                            <h1 class="card-title text-left">Orders</h1>
                        </div>
                        <div class="dropdown col-md-6 text-right">
                            <button class="btn p-0 text-dark dropdown dropdown-toggle" type="button" id="dropdownMenuIconButton1" style="color: red;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Filter
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuIconButton1">
                              <a class="dropdown-item" href="/admin/filter-sales/1">Daily</a>
                              <a class="dropdown-item" href="/admin/filter-sales/7">Weekly</a>
                              <a class="dropdown-item" href="/admin/filter-sales/30">Monthly</a>
                              <a class="dropdown-item" href="/admin/filter-sales/365">Yearly</a>
                          </div>
                      </div>
                    
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th> No: </th>
                          <th> Date </th>
                          <th> Total amount </th>
                          <th> Payment method </th>
                          <th> Username </th>
                          <th> Product name </th>
                          <th> quantity </th>
                        </tr>
                      </thead>
                      <tbody>
                        <% data.forEach(function(order,index) { %>
                          <tr>
                              <td><%= index + 1 %></td>
                              <td><%= order.purchaseDate.toLocaleDateString('en-US', { year:
                                  'numeric', month: 'short', day: '2-digit'
                                  }).replace(/\//g, '-') %></td>
                              <td>₹<%= order.totalAmount %></td>
                              <td><%= order.paymentMethod %></td>
                              <td><%= order.deliveryDetails.fullName %></td>
                              <td><%= order.products.name %></td>
                              <td><%= order.products.count %></td>
                          </tr>
                          <% }); %>
                      </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <%- include('./partials/_footer.ejs') %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/admin/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/admin/assets/js/off-canvas.js"></script>
    <script src="/admin/assets/js/hoverable-collapse.js"></script>
    <script src="/admin/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
  </body>
</html>