
<body>
    <div class="page-wrapper">
        <header class="header header-8">
            <div class="header-top">
                <div class="container">
                    <div class="header-right" style="margin-top: 1rem;">
                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li><a href="/wishlist"><i class="icon-heart-o"></i>My Wishlist</a></li>
                                    <li><a href="#contact_div">Contact Us</a></li>
                                    <li>
                                        <li>
                                            <% if (typeof username !== 'undefined') { %>
                                              <a href="/profile"><i class="icon-user"></i><%= username %></a>
                                            <% } else { %>
                                              <a href="/login"><i class="icon-user"></i>Login</a>
                                            <% } %>
                                          </li>                                          
                                    </li>                                      
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <i class="icon-bars"></i>
                        </button>

                        <a href="/" class="logo">
                            <img src="/assets/images/demos/demo-10/sheokartlogo.jpeg" alt="shoekart Logo" width="105" height="25">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="/#overview_div">Shop</a>
                                </li>
                                <li>
                                    <a href="/products">Products</a>
                                </li>
                                <li>
                                    <a href="/#contact_div">Contact</a>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->

                        <div class="header-search">
                            <form action="/search" method="post">
                                <button type="submit"><p class="search-toggle" role="button"><i class="icon-search"></i></p></button>
                                <div class="header-search-wrapper">
                                    <label for="searchedItems" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="searchedItems" id="" placeholder="Search in..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->

                        <div class="dropdown cart-dropdown" id="headerCart">
                            <% let count = 0; %>
                            <% let total = 0; %>
                            <% if (typeof cartProducts !== 'undefined' && cartProducts.products !== 'null' && cartProducts.products.length > 0) { %>
                                <% count = cartProducts.products.length; %>
                            <% } %>
                            <a href="/cart" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count"><%= count %></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" >
                                <div class="dropdown-cart-products">
                                    <% if (typeof cartProducts !== 'undefined' && cartProducts.products !== 'null' && cartProducts.products.length > 0) { %>
                                        <% cartProducts.products.forEach(function(product, index) { %>
                                            <div class="product">
                                                <div class="product-cart-details">
                                                    <h4 class="product-title">
                                                        <p><%= product.name %><br><%= product.category %></p>
                                                    </h4>
                                                    <span class="cart-product-info">
                                                        <span class="cart-product-qty"><%= product.count %></span>
                                                        x <%= product.price %>
                                                    </span>
                                                </div><!-- End .product-cart-details -->
                                    
                                                <figure class="product-image-container">
                                                    <a href="product.html" class="product-image">
                                                        <img src="/products/croped/<%= product.image %>" alt="product">
                                                    </a>
                                                </figure>
                                                <a onclick="deleteFromCart('<%= product.product_id %>')" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                            </div><!-- End .product -->
                                            <% total += product.price * product.count; %>
                                        <% }); %>
                                    <% } else { %>
                                        <div class="product">
                                            <div class="product-cart-details">
                                                <h4 class="product-title">
                                                    <a href="product.html">Cart is Empty</a>
                                                </h4>
                                            </div>
                                        </div>
                                    <% } %>
                                    
                                </div><!-- End .cart-product -->
                                
                                <div class="dropdown-cart-total">
                                    <span>Total</span>
                                    <span class="cart-total-price">₹<%= total %></span>
                                </div><!-- End .dropdown-cart-total -->
                                <div class="dropdown-cart-action">
                                    <a href="/cart" class="btn btn-primary">View Cart</a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->
</body>