<!DOCTYPE html>
<html lang="en">


<!-- molla/checkout.html  22 Nov 2019 09:55:06 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ShoeKart - Checkout</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">
	<!-- ajax popup -->
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<%- include('./layouts/header.ejs') %>
<body>
    <div class="page-wrapper">
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Checkout</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/#overview_div">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
			<% let shippingCharge = 0; %>
            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
            			<div class="checkout-container" style="display: flex;">
						
							<div class="add-new-address" data-toggle="modal" data-target="#exampleModal" style="margin-left: auto; margin-top: 2rem;">
								<a href="#">Add New Address</a>
							</div>

							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
								  <div class="modal-content">
									<div class="modal-header">
									  <h5 class="modal-title" id="exampleModalLabel">Add new Address</h5>
									  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									  </button>
									</div>
									<div class="modal-body">
										<form onsubmit="handleAddNewAddress(event)">
											<div class="row" style="margin: 0 0.5rem;">
												<div class="col-sm-6">
													<label>Full Name</label>
													<input type="text" name="fullname" class="form-control" oninput="checkFullName()" placeholder="Full Name(Required)">
													<span id="fullNameError" class="addAddressError" style="color: red;"></span>
												</div><!-- End .col-sm-6 -->
													
												<div class="col-sm-6">
													<label>Mobile</label>
													<input type="tel" name="mobile" class="form-control" oninput="checkPhone()" placeholder="Phone number(Required)">
													<span id="mobileNumberError" class="addAddressError" style="color: red;"></span>
												</div><!-- End .col-sm-6 -->
											</div><!-- End .row -->
											
											<div class="row" style="margin: 0 1.5rem;">
												<label>House Name</label>
												<input type="text" name="housename" class="form-control" oninput="checkHouseName()" placeholder="House Name, Building No (Required)">
												<span id="houseNameError" class="addAddressError" style="color: red;"></span>
											</div>
	
											<div class="row" style="margin: 0 0.5rem;">
												<div class="col-sm-6">
													<label>Colony</label>
													<input type="tel" name="colony" class="form-control" oninput="checkColony()" placeholder="Area, Colony (Required)">
													<span id="colonyNameError" class="addAddressError" style="color: red;"></span>
												</div><!-- End .col-sm-6 -->
									
												<div class="col-sm-6">
													<label>City</label>
													<input type="text" name="city" class="form-control" oninput="checkCity()" placeholder="City (Required)">
													<span id="cityNameError" class="addAddressError" style="color: red;"></span>
												</div><!-- End .col-sm-6 -->
											</div><!-- End .row -->
	
											<div class="row" style="margin: 0 0.5rem;">
												<div class="col-sm-6">
													<label>State</label>
													<input type="text" name="state" class="form-control" oninput="checkState()" placeholder="State (Required)">
													<span id="stateNameError" class="addAddressError" style="color: red;"></span>
												</div><!-- End .col-sm-6 -->
									
												<div class="col-sm-6">
													<label>Pincode</label>
													<input type="text" name="pincode" class="form-control" oninput="checkPincode()" placeholder="Pincode (Required)">
													<span id="pincodeError" class="addAddressError" style="color: red;"></span>
												</div><!-- End .col-sm-6 -->
											</div><!-- End .row -->
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
												<button type="submit" class="btn btn-primary">Save changes</button>
											  </div>
										</form>
									</div>
									
								  </div>
								</div>
							  </div>
						</div>
						
            			<form class="pay-form" id="checkout-form">
							<div class="col-lg-9 addressSide" id="addressSection">
								<h6 style="max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap ;">Choose your Delivery address</h6>
								<p id="address-error" style="color: red;"></p>
								<div class="row">
									<% if (addresses) { %>
										<% addresses.forEach((adrs, index) => { %>
											<div class="col-lg-6">
												<div class="card card-dashboard">
													<div class="card-body">
														<div class="custom-control custom-radio">
															<input type="radio" value="<%- index %>" id="address<%- index %>" name="selectedAddress" class="custom-control-input">
															<label class="custom-control-label" for="address<%- index %>">
																<p><%- adrs.fullName %><br>
																<%- adrs.mobile %><br>
																<% if (adrs.email) { %>
																	<%- adrs.email %><br>
																<% } %>
																<%- adrs.houseName %><br>
																<%- adrs.colony %><br>
																<%- adrs.city %><br>
																<%- adrs.state %><br>
																<%- adrs.pin %><br></p>
															</label>
														</div><!-- End .custom-control -->
													</div><!-- End .card-body -->
												</div><!-- End .card-dashboard -->
											</div><!-- End .col-lg-6 -->
										<% }); %>
									</div><!-- End .row -->
								<% } else { %>
									<p><%- "Address is empty" %></p>
								<% } %>
							</div><!-- End .col-lg-9 -->

		                		<aside class="col-lg-3 proceedSide" style="margin-right: auto;">
		                			<div class="summary" style="margin-top: 3rem;">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

		                				<table class="table table-summary">
		                					<thead>
		                						<tr>
		                							<th>Product</th>
		                							<th>Total</th>
		                						</tr>
		                					</thead>

		                					<tbody>
												<% let total = 0; %>
												<% let count = 0; %>
												<% if (cartProducts && cartProducts.products && cartProducts.products.length > 0) { %>
													<% cartProducts.products.forEach(function(product, index) { %>
														<% total += product.price * product.count; %>
														<% count += product.count %>
														<input type="hidden" value="<%= product.product_id %>" name="orderProducts">
		                						<tr>
		                							<td><a href="#"><%= product.name %> <%= product.category %></a></td>
		                							<td><%= product.count %> x <%= product.price %></td>
		                						</tr>
                                        		<% }); %>
		                						<tr class="summary-subtotal">
		                							<td>Subtotal:</td>
		                							<td>₹<%= total %></td>
		                						</tr><!-- End .summary-subtotal -->
		                						<tr>
		                							<td>Shipping fee:</td>
		                							<td style="color: orange ;">+
														<% if (shippingMethod == 'Express Delivery') { %>
															<% shippingCharge += 99; %>
														₹99
													<% } else if (shippingMethod == 'Standart Delivery') { %>
														<% shippingCharge += 49; %>
														₹49
													<% } else { %>
														<% shippingCharge += 0; %>
														₹0
													<% } %>
													<input type="hidden" name="shippingMethod" value="<%= shippingMethod %>">
													<input type="hidden" name="shippingCharge" value="<%= shippingCharge %>">
													<input type="hidden" name="totalAmount" value="<%= (total + shippingCharge) - discount %>">
													<input type="hidden" name="discount" value="<%= (discount) %>">
													<input type="hidden" name="totalItemCount" value="<%= count %>">
													<input type="hidden" name="couponDetail" value="<%= couponDetail %>">
													</td>
		                						</tr>
												<tr>
													<td>Discount amount:</td>
													<td style="color: green;">-₹<%= discount %></td>
												</tr>
		                						<tr class="summary-total">
		                							<td>Total:</td>
		                							<td>₹<%= (total + shippingCharge) - discount %></td>
		                						</tr><!-- End .summary-total -->
												<% } %>
		                					</tbody>
		                				</table><!-- End .table table-summary -->

		                				<div class="accordion-summary" id="accordion-payment">

										    <div class="card">
										        <div class="card-header" id="heading-3">
										            <h2 class="card-title">
										                <a onclick="setPaymentMethod('Cash on delivery')" class="collapsed" role="radio" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
										                    Cash on delivery
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										    <div class="card">
										        <div class="card-header" id="heading-5">
										            <h2 class="card-title">
										                <a onclick="setPaymentMethod('Online payment')" class="collapsed" role="radio" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
										                    Online payments
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion-payment">
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

											<% if (walletBalance >=  total + shippingCharge) { %>
												<div class="card">
													<div class="card-header" id="heading-4">
														<h2 class="card-title">
															<a onclick="setPaymentMethod('Wallet payment')" class="collapsed" role="radio" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
																₹<%= walletBalance %>   <span>(Pay using wallet amount)</span>
															</a>
														</h2>
													</div><!-- End .card-header -->
													<div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
													</div><!-- End .collapse -->
												</div><!-- End .card -->
											<% } else { %>
												<div class="card disabled">
													<div class="card-header" id="heading-4">
														<h2 class="card-title">
															<a onclick="setPaymentMethod('Wallet payment')" class="collapsed" role="radio" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
																₹<%= walletBalance %>   <span>(Pay using wallet amount)</span>
																<p style="color: red;">insufficent balace</p>
															</a>
														</h2>
													</div><!-- End .card-header -->
													<div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
													</div><!-- End .collapse -->
												</div><!-- End .card -->
											<% } %>
											<input type="hidden" id="paymentMethodField" name="paymentMethod" >
											<span id="paymentMethodError" style="color: red;"></span>
										</div><!-- End .accordion -->

		                				<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
		                					<span class="btn-text">Place Order</span>
		                					<span class="btn-hover-text">Proceed to Checkout</span>
		                				</button>
		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
            			</form>
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    <%- include('./layouts/footer.ejs') %>
    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="category.html">Shop</a>
                    </li>
                    <li>
                        <a href="/#overview_div">Shop</a>
                    </li>
                    <li>
                        <a href="/products">Products</a>
                    </li>
                    <li>
                        <a href="/#contact_div">Contact</a>
                    </li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <div class="social-icons">
                <a href="https://www.facebook.com/" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="https://twitter.com/" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="https://www.instagram.com/" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="https://www.youtube.com/" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
	<!-- ajax popup -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.all.min.js"></script>
	<!-- razorpay -->
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</body>


<!-- molla/checkout.html  22 Nov 2019 09:55:06 GMT -->
</html>