<!DOCTYPE html>
<html lang="en">


<!-- molla/index-10.html  22 Nov 2019 09:58:04 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ShoeKart - Home</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery.countdown.css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.min.css" rel="stylesheet">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/skins/skin-demo-10.css">
    <link rel="stylesheet" href="assets/css/demos/demo-10.css">
    <!-- contact form CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/contactMain.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/contactUtil.css">
</head>

<%- include('./layouts/header.ejs') %>

    <body>
        <main class="main">
            <div class="container">
                <div class="intro-slider-container slider-container-ratio mb-2">
                    <div class="intro-slider owl-carousel owl-simple owl-light owl-nav-inside" data-toggle="owl" data-owl-options='{"nav": false}'>
                        <% banners.forEach(function(banner) { %>
                        <div class="intro-slide">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="assets/images/demos/demo-10/slider/slide-1-480w.jpg">
                                    <a href="/products"><img src="/images/banners/<%= banner.image %>" alt="Image Desc"></a>
                                </picture>
                            </figure><!-- End .slide-image -->

                            <div class="intro-content">
                                <h3 class="intro-subtitle"><%= banner.subtile %></h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title text-white"><%= banner.text %></h1><!-- End .intro-title -->

                                <div class="intro-price text-white"><%= banner.priceText %></div><!-- End .intro-price -->

                            </div><!-- End .intro-content -->
                        </div><!-- End .intro-slide -->
                        <% }); %>
                    </div><!-- End .intro-slider owl-carousel owl-simple -->
                    <span class="slider-loader"></span><!-- End .slider-loader -->
                </div><!-- End .intro-slider-container -->
            </div><!-- End .container -->

            <div class="icon-boxes-container icon-boxes-separator bg-transparent">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-primary">
                                    <i class="icon-rocket"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                                    <p>is available</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                        
                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-primary">
                                    <i class="icon-rotate-left"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                                    <p>Within 7 days</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-primary">
                                    <i class="icon-info-circle"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Get 20% Off</h3><!-- End .icon-box-title -->
                                    <p>on first the order</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-primary">
                                    <i class="icon-life-ring"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                                    <p>24/7 amazing services</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .icon-boxes-container -->

            <div class="bg-light pt-5 pb-10 mb-3">
                <div class="container">
                    <div class="heading heading-center mb-3">
                        <h2 class="title-lg">New Arrivals</h2><!-- End .title -->

                        <ul class="nav nav-pills justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="new-all-link" data-toggle="tab" href="#new-all-tab" role="tab" aria-controls="new-all-tab" aria-selected="true">Men's</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="new-women-link" data-toggle="tab" href="#new-women-tab" role="tab" aria-controls="new-women-tab" aria-selected="false">Women's</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="new-men-link" data-toggle="tab" href="#new-men-tab" role="tab" aria-controls="new-men-tab" aria-selected="false">Kid's</a>
                            </li>
                        </ul>
                    </div><!-- End .heading -->

                    <div class="tab-content tab-content-carousel">
                        <div class="tab-pane tab-pane-shadow p-0 fade show active" id="new-all-tab" role="tabpanel" aria-labelledby="new-all-link">
                            <div class="owl-carousel owl-simple carousel-equal-height" data-toggle="owl" 
                                data-owl-options='{
                                    "nav": false, 
                                    "dots": true,
                                    "margin": 0,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1200": {
                                            "items":4,
                                            "nav": true
                                        }
                                    }
                                }'>
                                <% if (typeof mens !== 'undefined') { %>
                                <% for (let i = 0; i < 6; i++) { %>
                                    <% const product = mens[i]; %>
                                    <% if (product) { %>
                                <div class="product product-3 text-center">
                                    <figure class="product-media">
                                        <!-- <span class="product-label label-primary">Sale</span>
                                        <span class="product-label label-sale">30% off</span> -->
                                        <a href="">
                                            <img src="/products/croped/<%= product.images.image1 %>" alt="Product image" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <p onclick="addToWishlist('<%= product._id %>')" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></p>
                                        </div><!-- End .product-action-vertical -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#"><%= product.category %></a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="/product?id=<%= product._id %>"><%= product.name %></a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            <span class="new-price">₹<%= product.price %></span>
                                            <!-- <span class="old-price">$84.00</span> -->
                                        </div><!-- End .product-price -->
                                    </div><!-- End .product-body -->

                                    <div class="product-footer">

                                        <div class="product-nav product-nav-dots">
                                            <a href="#" class="active" style="background: #5f554b;"><span class="sr-only">Color name</span></a>
                                            <a href="#" style="background: #806f55;"><span class="sr-only">Color name</span></a>
                                        </div><!-- End .product-nav -->

                                        <div class="product-action">
                                            <p class="btn-product btn-cart" onclick="addToCart('<%= product._id %>')"><span>add to cart</span></p>
                                        </div><!-- End .product-action -->
                                    </div><!-- End .product-footer -->
                                </div><!-- End .product -->
                                <% } %>
                                <% } %>
                                <% } else { %>
                                    <h5>Products not found</h5>
                                <% } %>
                            </div><!-- End .owl-carousel -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane tab-pane-shadow p-0 fade" id="new-women-tab" role="tabpanel" aria-labelledby="new-women-link">
                            <div class="owl-carousel owl-simple carousel-equal-height" data-toggle="owl" 
                                data-owl-options='{
                                    "nav": false, 
                                    "dots": true,
                                    "margin": 0,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1200": {
                                            "items":4,
                                            "nav": true
                                        }
                                    }
                                }'>
                                <% if (womens && womens.length > 0) { %>
                                    <% for (let i = 0; i < Math.min(womens.length, 6); i++) { %>
                                        <% const product = womens[i]; %>
                                        <% if (product) { %>
                                        <div class="product product-3 text-center">
                                            <figure class="product-media">
                                                <!-- Add your sale labels or other elements here -->
                                                <a href="">
                                                    <img src="/products/croped/<%= product.images.image1 %>" alt="Product image" class="product-image">
                                                </a>
                                
                                                <div class="product-action-vertical">
                                                    <p onclick="addToWishlist('<%= product._id %>')" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></p>
                                                </div><!-- End .product-action-vertical -->
                                            </figure><!-- End .product-media -->
                                
                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#"><%= product.category %></a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="/product?id=<%= product._id %>"><%= product.name %></a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    <span class="new-price">₹<%= product.price %></span>
                                                </div><!-- End .product-price -->
                                            </div><!-- End .product-body -->
                                
                                            <div class="product-footer">
                                                <!-- Add your ratings and other elements here -->
                                                <div class="product-action">
                                                    <p class="btn-product btn-cart" onclick="addToCart('<%= product._id %>')"><span>add to cart</span></p>
                                                </div><!-- End .product-action -->
                                            </div><!-- End .product-footer -->
                                        </div><!-- End .product -->
                                    <% } %>
                                    <% } %>
                                <% } else { %>
                                    <h5>Products not found</h5>
                                <% } %>
                                
                            </div><!-- End .owl-carousel -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane tab-pane-shadow p-0 fade" id="new-men-tab" role="tabpanel" aria-labelledby="new-men-link">
                            <div class="owl-carousel owl-simple carousel-equal-height" data-toggle="owl" 
                                data-owl-options='{
                                    "nav": false, 
                                    "dots": true,
                                    "margin": 0,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1200": {
                                            "items":4,
                                            "nav": true
                                        }
                                    }
                                }'>
                                <% if (kids && kids.length > 0) { %>
                                    <% for (let i = 0; i < Math.min(kids.length, 6); i++) { %>
                                        <% const product = kids[i]; %>
                                        <% if (product) { %>
                                        <div class="product product-3 text-center">
                                            <figure class="product-media">
                                                <!-- Add your sale labels or other elements here -->
                                                <a href="">
                                                    <img src="/products/cropped/<%= product.images.image1 %>" alt="Product image" class="product-image">
                                                </a>
                                
                                                <div class="product-action-vertical">
                                                    <p onclick="addToWishlist('<%= product._id %>')" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></p>
                                                </div><!-- End .product-action-vertical -->
                                            </figure><!-- End .product-media -->
                                
                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#"><%= product.category %></a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="/product?id=<%= product._id %>"><%= product.name %></a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    <span class="new-price">₹<%= product.price %></span>
                                                </div><!-- End .product-price -->
                                            </div><!-- End .product-body -->
                                
                                            <div class="product-footer">
                                                <!-- Add your ratings and other elements here -->
                                                <div class="product-action">
                                                    <p class="btn-product btn-cart" onclick="addToCart('<%= product._id %>')"><span>add to cart</span></p>
                                                </div><!-- End .product-action -->
                                            </div><!-- End .product-footer -->
                                        </div><!-- End .product -->
                                    <% } %>
                                    <% } %>
                                <% } else { %>
                                    <h5>Products not found</h5>
                                <% } %>
                                
                            </div><!-- End .owl-carousel -->
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .container -->
            </div><!-- End .bg-light -->

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-md-4">
                        <div class="banner banner-cat">
                            <a href="/products?category=women">
                                <img src="assets/images/demos/demo-10/banners/banner-5.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-overlay text-center">
                                <h3 class="banner-title font-weight-normal">Women's</h3><!-- End .banner-title -->
                                <h4 class="banner-subtitle"><%= womens.length || 0 %> Products</h4><!-- End .banner-subtitle -->
                                <a href="/products?category=women" class="banner-link">SHOP NOW</a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-md-4 -->

                    <div class="col-sm-6 col-md-4">
                        <div class="banner banner-cat">
                            <a href="/products?category=men">
                                <img src="assets/images/demos/demo-10/banners/banner-6.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-overlay text-center">
                                <h3 class="banner-title font-weight-normal">Men's</h3><!-- End .banner-title -->
                                <h4 class="banner-subtitle"><%= mens.length || 0 %> Products</h4><!-- End .banner-subtitle -->
                                <a href="/products?category=men" class="banner-link">SHOP NOW</a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-md-4 -->

                    <div class="col-sm-6 col-md-4">
                        <div class="banner banner-cat">
                            <a href="/products?category=kid">
                                <img src="assets/images/demos/demo-10/banners/banner-7.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-overlay text-center">
                                <h3 class="banner-title font-weight-normal">Kid's</h3><!-- End .banner-title -->
                                <h4 class="banner-subtitle"><%= kids.length || 0  %> Products</h4><!-- End .banner-subtitle -->
                                <a href="/products?category=kid" class="banner-link">SHOP NOW</a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-md-4 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="mb-4"></div><!-- End .mb-4 -->

            <div class="container" id="overview_div">
                <div class="heading heading-center mb-3">
                    <h2 class="title-lg mb-2">Products Overview</h2><!-- End .title-lg text-center -->

                    <ul class="nav nav-pills justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="top-women-link" data-toggle="tab" href="#top-women-tab" role="tab" aria-controls="top-women-tab" aria-selected="true">Women's</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="top-men-link" data-toggle="tab" href="#top-men-tab" role="tab" aria-controls="top-men-tab" aria-selected="false">Men's</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="top-kid-link" data-toggle="tab" href="#top-kid-tab" role="tab" aria-controls="top-kid-tab" aria-selected="false">Kid's</a>
                        </li>
                    </ul>
                </div><!-- End .heading -->

                <div class="tab-content">
                    <div class="tab-pane p-0 fade show active" id="top-women-tab" role="tabpanel" aria-labelledby="top-women-link">
                        <div class="products just-action-icons-sm">
                            <div class="row">
                                <% if (womens && womens.length > 0) { %>
                                <% for (let i = 0; i < 10; i++) { %>
                                    <% const product = womens[i]; %>
                                    <% if (product && product._id) { %>
                                <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                                    <div class="product product-3 text-center">
                                        <figure class="product-media">
                                            <!-- <span class="product-label label-primary">Sale</span>
                                            <span class="product-label label-sale">30% off</span> -->
                                            <a href="/product?id=<%= product._id %>">
                                                <img src="/products/croped/<%= product.images.image1 %>" alt="Product image" class="product-image">
                                            </a>

                                            <!-- <div class="product-countdown-container">
                                                <span class="product-contdown-title">offer ends in:</span>
                                                <div class="product-countdown countdown-compact" data-until="2019, 11, 3" data-compact="true"></div>End .product-countdown
                                            </div>End .product-countdown-container -->

                                            <div class="product-action-vertical">
                                                <p onclick="addToWishlist('<%= product._id %>')" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></p>
                                            </div><!-- End .product-action-vertical -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#"><%= product.category %></a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="/product?id=<%= product._id %>"><%= product.name%></a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                <span class="new-price">₹<%= product.price %></span>
                                                <!-- <span class="old-price">$130.00</span> -->
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->

                                        <div class="product-footer">

                                            <div class="product-nav product-nav-dots">
                                                <a href="#" class="active" style="background: #af5f23;"><span class="sr-only">Color name</span></a>
                                                <a href="#" style="background: #806f55;"><span class="sr-only">Color name</span></a>
                                                <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                            </div><!-- End .product-nav -->

                                            <div class="product-action">
                                                <p class="btn-product btn-cart" onclick="addToCart('<%= product._id %>')"><span>add to cart</span></p>
                                            </div><!-- End .product-action -->
                                        </div><!-- End .product-footer -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-6 col-md-4 col-lg-3 -->
                                <% } %>
                                <% } %>
                                <% } else { %>
                                    <h5>Products not found</h5>
                                <% } %>
                            </div><!-- End .row -->
                        </div><!-- End .products -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane p-0 fade" id="top-men-tab" role="tabpanel" aria-labelledby="top-men-link">
                        <div class="products just-action-icons-sm">
                            <div class="row">
                                <% if (mens && mens.length > 0) { %>
                                <% for (let i = 0; i < 10; i++) { %>
                                    <% const product = mens[i]; %>
                                    <% if (product && product._id) { %>
                                <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                                    <div class="product product-3 text-center">
                                        <figure class="product-media">
                                            <input type="hidden" name="id" value="<%= product._id %>">
                                            <!-- <span class="product-label label-primary">Sale</span>
                                            <span class="product-label label-sale">30% off</span> -->
                                            <a href="/product?id=<%= product._id %>">
                                                <img src="/products/croped/<%= product.images.image1 %>" alt="Product image" class="product-image">
                                            </a>

                                            <!-- <div class="product-countdown-container">
                                                <span class="product-contdown-title">offer ends in:</span>
                                                <div class="product-countdown countdown-compact" data-until="2019, 11, 3" data-compact="true"></div>End .product-countdown
                                            </div>End .product-countdown-container -->

                                            <div class="product-action-vertical">
                                                <p onclick="addToWishlist('<%= product._id %>')" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></p>
                                            </div><!-- End .product-action-vertical -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#"><%= product.category %></a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="/product?id=<%= product._id %>"><%= product.name%></a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                <span class="new-price">₹<%= product.price %></span>
                                                <!-- <span class="old-price">$130.00</span> -->
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->

                                        <div class="product-footer">

                                            <div class="product-nav product-nav-dots">
                                                <a href="#" class="active" style="background: #af5f23;"><span class="sr-only">Color name</span></a>
                                                <a href="#" style="background: #806f55;"><span class="sr-only">Color name</span></a>
                                                <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                            </div><!-- End .product-nav -->

                                            <div class="product-action">
                                                <p class="btn-product btn-cart" title="Add to cart" onclick="addToCart('<%= product._id %>')"><span>add to cart</span></p>
                                            </div><!-- End .product-action -->
                                        </div><!-- End .product-footer -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-6 col-md-4 col-lg-3 -->
                                <% } %>
                                <% } %>
                                <% } else { %>
                                    <h5>Products not found</h5>
                                <% } %>
                            </div><!-- End .row -->
                        </div><!-- End .products -->
                    </div><!-- .End .tab-pane -->

                    <div class="tab-pane p-0 fade" id="top-kid-tab" role="tabpanel" aria-labelledby="top-kid-link">
                        <div class="products just-action-icons-sm">
                            <div class="row">
                                <% if (kids && kids.length > 0) { %>
                                <% for (let i = 0; i < 10; i++) { %>
                                    <% const product = kids[i]; %>
                                    <% if (product && product._id) { %>
                                <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                                    <div class="product product-3 text-center">
                                        <figure class="product-media">
                                            <input type="hidden" name="id" value="<%= product._id %>">
                                            <!-- <span class="product-label label-primary">Sale</span>
                                            <span class="product-label label-sale">30% off</span> -->
                                            <a href="/product?id=<%= product._id %>">
                                                <img src="/products/croped/<%= product.images.image1 %>" alt="Product image" class="product-image">
                                            </a>

                                            <!-- <div class="product-countdown-container">
                                                <span class="product-contdown-title">offer ends in:</span>
                                                <div class="product-countdown countdown-compact" data-until="2019, 11, 3" data-compact="true"></div>End .product-countdown
                                            </div>End .product-countdown-container -->

                                            <div class="product-action-vertical">
                                                <p onclick="addToWishlist('<%= product._id %>')" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></p>
                                            </div><!-- End .product-action-vertical -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#"><%= product.category %></a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="/product?id=<%= product._id %>"><%= product.name%></a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                <span class="new-price">₹<%= product.price %></span>
                                                <!-- <span class="old-price">$130.00</span> -->
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->

                                        <div class="product-footer">

                                            <div class="product-nav product-nav-dots">
                                                <a href="#" class="active" style="background: #af5f23;"><span class="sr-only">Color name</span></a>
                                                <a href="#" style="background: #806f55;"><span class="sr-only">Color name</span></a>
                                                <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                            </div><!-- End .product-nav -->

                                            <div class="product-action">
                                                <p class="btn-product btn-cart" title="Add to cart" onclick="addToCart('<%= product._id %>')"><span>add to cart</span></p>
                                            </div><!-- End .product-action -->
                                        </div><!-- End .product-footer -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-6 col-md-4 col-lg-3 -->
                                <% } %>
                                <% } %>
                                <% } else { %>
                                    <h5>Products not found</h5>
                                <% } %>
                            </div><!-- End .row -->
                        </div><!-- End .products -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->

                <div class="more-container text-center mt-5">
                    <a href="/products" class="btn btn-outline-lightgray btn-more btn-round"><span>View more products</span><i class="icon-long-arrow-right"></i></a>
                </div><!-- End .more-container -->
            </div><!-- End .container -->

            <div class="mb-5" id="contact_div" style="background: #f8f8f8 ;">
                <div class="touch-container row justify-content-center">
                    <div class="col-md-9 col-lg-7">
                        <div class="text-center" style="margin-top: 2rem;">
                        <h2 class="title mb-1">Get In Touch</h2><!-- End .title mb-2 -->
                        
                        </div><!-- End .text-center -->

                        <form action="#" class="contact-form mb-2">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="cname" class="sr-only">Name</label>
                                    <input type="text" class="form-control" id="cname" placeholder="Name *" required>
                                </div><!-- End .col-sm-4 -->

                                <div class="col-sm-4">
                                    <label for="cemail" class="sr-only">Name</label>
                                    <input type="email" class="form-control" id="cemail" placeholder="Email *" required>
                                </div><!-- End .col-sm-4 -->

                                <div class="col-sm-4">
                                    <label for="cphone" class="sr-only">Phone</label>
                                    <input type="tel" class="form-control" id="cphone" placeholder="Phone">
                                </div><!-- End .col-sm-4 -->
                            </div><!-- End .row -->

                            <label for="csubject" class="sr-only">Subject</label>
                            <input type="text" class="form-control" id="csubject" placeholder="Subject">

                            <label for="cmessage" class="sr-only">Message</label>
                            <textarea class="form-control" cols="30" rows="4" id="cmessage" required placeholder="Message *"></textarea>
                            
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
                                    <span>SUBMIT</span>
                                    <i class="icon-long-arrow-right"></i>
                                </button>
                            </div><!-- End .text-center -->
                        </form><!-- End .contact-form -->
                    </div><!-- End .col-md-9 col-lg-7 -->
                </div><!-- End .row -->
            </div><!-- End .mb5 -->
        </main><!-- End .main -->

        
    </div><!-- End .page-wrapper -->
    
    
    <%- include('./layouts/footer.ejs') %>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="category.html">Shop</a>
                    </li>
                    <li>
                        <a href="/#overview_div">Shop</a>
                    </li>
                    <li>
                        <a href="/products">Products</a>
                    </li>
                    <li>
                        <a href="/#contact_div">Contact</a>
                    </li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <script src="assets/js/jquery.plugin.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.all.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/demos/demo-10.js"></script>
